#cardDiv > p {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

#cardDiv > p:focus,
#cardDiv > p:hover {
  transform: scale(1.3);
  z-index: 1;
  cursor: default;
}
