/*Div para centrar los elementos del form, estaban uno abajo del otro*/
.searchDiv {
  display: flex;
  padding-right: 10px;
}

/*Div para acomodar el icono de la lupa*/
.glassDiv {
  padding-right: 15px;
  padding-top: 5px;
}

