h1 {
  font-weight: bold;
}

div.card2 {
  background-color: rgb(29, 117, 29);
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  background-image: url("https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}

.card2 input {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
