h2,
h3 {
  text-align: center;
}

.rounded-t-lg {
  max-width: 363px;
  max-height: 286px;
}

.h2 {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

h2:focus,
h2:hover {
  transform: scale(1.5);
  z-index: 1;
}
