.App {
  text-align: center;
  margin-top: 50px;
  transition: background-color 0.4s;
}

.dark-theme {
  background-color: #020c1a;
  color: white;
  height: 100%;
}

.opacity-80 {
  opacity: 0.8;
}

/* .App.dark-mode {
  background-color: #222;}  Estilo de fondo oscuro */

/* nav {
  background-color: #ccc;  Estilo de fondo de la barra de navegación 
  padding: 10px;
} */

/* .switch-container {
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3};  Estilo de fondo del interruptor cuando está activado */

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode {
  background-color: #222; /* Estilo de fondo oscuro */
}
*/ .mainDiv {
  display: flex;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
